body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  z-index: 10; /* Ensure the controls are on top */
  position: relative; /* Make sure the position is relative for z-index to work */
  background-color: white; /* Optional: Add a background color to make it more visible */
  padding: 10px; /* Optional: Add some padding for better appearance */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
}

#lockButton {
  margin-right: 20px; /* Add space between the lock button and the next element */
}

.controls label {
  margin-right: 10px;
}

.controls select, .controls input[type="range"] {
  margin-right: 20px;
}

.chart-type-container {
  margin-left: 400px; /* Adjust this value to move the dropdown to the right */
}

#chartContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh; /* Ensure charts take full screen height */
}

.chart-half {
  width: 51%;
  height: 80vh; /* Occupy 80% of the viewport height */
}

.map-container {
  width: 100%;
  height: 80vh; /* Adjust height as needed */
  margin-top: 50px;
}

.chart-full {
  width: 100%;
  height: 80vh; /* Adjust height as needed */
  margin-top: 50px;
}


/* Adjust the layout to avoid overlap and ensure each section appears below the other */
.container {
  display: flex;
  flex-direction: column; /* Ensure sections stack vertically */
}

/* Time series chart styling remains unchanged */
#timeSeriesChart {
  width: 100%;
  height: 700px; /* Ensure this height matches the chart style */
}

/* Combination chart styling */

#combinationChart {
  width: 100%;
  height: 700px;
  margin-top: 20px;
}

#chartTypeSlider {
  width: 50px; /* Shorten the slider length */
  margin-left: 10px;
}